.FightPanel__header {
  padding: 0;
  background-color: var(--background_page);
}

.FightPanel__boss,
.FightPanel__user {
  box-sizing: border-box;
  min-height: 128px;
  padding: 14px 0;
  background-color: var(--background_content);
}

.FightPanel__boss {
  border-radius: 0 0 24px 24px;
}

.FightPanel__user {
  border-radius: 24px 24px 0 0;
}
