.Module__element {
  color: var(--content_placeholder_text);
}

.Module__stat_type_energy {
  color: var(--dynamic_purple);
}

.Module__stat_type_damage,
.Module__stat_type_health {
  color: var(--dynamic_red);
}
