.name {
  padding: 0;
  margin: 0;
  &::first-letter {
    text-transform: uppercase;
  }
} 

.element {
  color: var(--content_placeholder_text);
}

.description {
  padding: 0;
  margin: 0;
  &::first-letter {
    text-transform: uppercase;
  }
}

.stat_type {
  padding: 0;
  
  &_energy {
    color: var(--dynamic_purple);
  }
  &_damage,
  &_health {
    color: var(--dynamic_red);
  }
}
